*{
              padding: 0;
              margin: 0;
              box-sizing: border-box;
}

.main_div{
              width: 100vw;
              height: 100vh;
              display: flex;
              justify-content: center;
              align-items: center;
              
}

.main_container{
              height:70%;
              overflow-x: scroll;
              width: 32rem;
              background-color: #fff;
              display: flex;
              align-items: center;
              flex-direction: column;      
}
.main_container::-webkit-scrollbar {
              height: 5px;
              width: 5px;
}
.main_container::-webkit-scrollbar-thumb {
              background-color: gray;
}

.container{
              width: 32rem;
              height:35rem;
              background-color: whitesmoke;
              border-radius: 30px; 
              box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;                   
}

.container > h1{
              padding: 2rem;
              color: gray;
              font-size: 25px;
              text-align: center;
}

.user_names{
              padding-left: 20px;
              background: none;
              color:rgb(97, 91, 91);
              cursor: pointer;
}

.user_container{
              display: flex;
              flex-direction: row;
              justify-content: left;
              padding-left: 20px;
              margin: 10px 0;
              border-bottom: 0.3px solid rgb(206, 206, 206);
              width: 90%;
              text-decoration: none;
             
}

.image_div{
              width: 40px;
              height: 35px;
              border-radius: 50%;
}